$black-color: #000;
$white-color: #fff;
$accent1: #ff6b01;
$accent8: #ff6b08;
$modal-text-grey: #8c8c8c;
$footer-text: #545454;
$light-grey: #f7f7f7;
$gradient: rgba(0, 0, 0, 0.56);
$logo-fill: #818181;
$warning: red;
