<section class="content-section">
  <div class="content-wraper">
    <div class="content__btn__list">
      <button class="content__btn" type="button" data-tag="trend">this week</button>

      <button class="content__btn" type="button" data-tag="popular">all time</button>
    </div>
    <div id="loader">
      <div class="loadingio-spinner-spin-ymjdwoyhu3">
        <div class="ldio-7cc60yam3wk">
          <div><div></div></div>
          <div><div></div></div>
          <div><div></div></div>
          <div><div></div></div>
          <div><div></div></div>
          <div><div></div></div>
          <div><div></div></div>
          <div><div></div></div>
        </div>
      </div>
      <span class="spinner__text">Loading...</span>
    </div>
    <ul id="popular" class="content__cards"></ul>
    <button class="content__btn js-load-more" type="button">load more...</button>
  </div>
</section>
